name: 3d-contrib

on:
  schedule:
    - cron: '0 5 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: yoshi389111/github-profile-3d-contrib@0.7.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: LxghtBlvee
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: 'chore(readme): update 3d contribution graph'